<!DOCTYPE html>
<html>
<head>
	<title>Weather WDI-21</title>
		<meta charset="utf-8" />
		<meta http-equiv="standard-type" standard="text/html; charset=utf-8" />
		<meta name="viewport" standard="width=device-width, initial-scale=1" />
		<!-- <link rel="stylesheet" type="text/css" href="static/style.css"> -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
		<!-- Underscore -->
		<script src="/vendor/underscore/underscore-min.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Roboto:400,100,300" rel="stylesheet" type="text/css">

		<script type="text/javascript" src="static/app.js"> </script> 
		<!-- <link rel="stylesheet" type="text/css" href="static/style.css"> -->


</head>
	<body>
		
	<div class="topbar">
		<div class="content">
			<span id="username"></span>
			<button type="submit" class="logout"><a id="logout" href="/logout">Logout</a></button>
		</div>
	</div>



	<div class="container">
		<div class="login-form-1">
		<div class="text-center">
			<h1>The WDI-21 Weather App</h1>
	
			<h2>Checkout The Weather?</h2>

	<div class="row">	
	<div class ="col-md-5">
	<form class="citySearch" role="search">
		<div class="form-group">
			<input id="search" type="text" class="form-control input-md" placeholder="City Name" name="q">
			<button type="submit" class="form-control">Search</button>
		</div>
	</form>
	
	
	<div class="col-md-6" "col-md-offser-1">
		<div class="list-weather" id="div-city"></div>
	</div>
	</div>	
<!-- 	</div>	
	<div class = "row"> -->
	<div class ="col-md-5" class="login-grou">
		<button type="button" class="form-control col-sm-10">MY COLLECTION OF CITIES</button>
		<button type="button" class="form-control dropdown-toggle col-sm-2" data-toggle="dropdown" aria-expanded="false">
		<span class="caret"></span>
		<span class="sr-only">Toggle Dropdown</span>
		</button>
		<ul class="dropdown-menu scrollable-menu" role="menu"></ul>
	</div>
	
	
	
	<div class="col-md-6" "col-md-offset-1">
			<img src="https://media.giphy.com/media/XK5fVuK8epOM/giphy.gif"> 
	</div>
	</div>
	</div>
	</div>


	</body>
</html>