<!DOCTYPE html>
<html>
<head>
	<title>Weather WDI-21</title>
		<meta charset="utf-8" />
		<meta http-equiv="standard-type" standard="text/html; charset=utf-8" />
		<meta name="viewport" standard="width=device-width, initial-scale=1" />
		<!-- <link rel="stylesheet" type="text/css" href="static/style.css"> -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
		<!-- Underscore -->
		<script src="/vendor/underscore/underscore-min.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Roboto:400,100,300" rel="stylesheet" type="text/css">

		<script type="text/javascript" src="static/app.js"> </script> 
		<link rel="stylesheet" type="text/css" href="static/main.css">
		<!-- <link rel="stylesheet" type="text/css" href="static/style.css"> -->



</head>
<body>
<div class="topbar">
		<div class="content">
			<strong><span id="welcome"></span></strong>
			<button type="submit" class="btn btn-default"><a id="logout" href="/logout">Logout</a></button>
		</div>
	</div>
	

	<div class="container">
		<h1>The WDI-21 Weather App</h1>
	
			<h2>Checkout The Weather?</h2>
<div class = "col-md-12">
<form class="citySearch" role="search">
  <div class="form-group">
  	<div class ="col-md-8">
    <input id="search" type="text" class="form-control input-md" placeholder="City Name" name="q">
    </div>
    <div class ="col-md-4">
    <button type="submit" class="btn btn-default">Search</button>
	</div>
  </div>
  
</form>
</div>
<div class="list-weather" id="div-city"></div>

<div class="btn-group">
  <button type="button" class="btn btn-default col-sm-6">My Cities</button>
  <button type="button" class="btn btn-default dropdown-toggle col-sm-2" data-toggle="dropdown" aria-expanded="false">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu scrollable-menu" role="menu">
    <!-- <% for (var i=0; i < locations.length; i++) { %> -->
 	<!-- 	<li><a href="http://localhost:8000/results?city=<%=locations[i].location%>"><%= locations[i].location %></a> -->

 		<span class="deletes">
 			<form class="pull-right" action="/locations/<%= locations[i].id %>?_method=DELETE" method="POST">
				<button class="btn btn-default btn-circle" type="submit" value="delete"><i class="glyphicon glyphicon-minus">
					<!--<input type="submit" value="delete">-->
					</i>
				</button>
			</form>
		</span>
</div>
	</div>
</div>

<!-- 	<img src="https://media.giphy.com/media/XK5fVuK8epOM/giphy.gif" id="gif">  -->


</body>
</html>














