<style>

h1 {
	font-size: 50px;	
}
body{
	background-image: url("https://images.unsplash.com/photo-1421091242698-34f6ad7fc088?q=80&fm=jpg&s=dcb0f2523ce54aa3df780f198eba0920");
	/*wraps up image and in one solid image with no-repeat*/
	background-size: cover;
	background-repeat:no-repeat;
}
#gif{
	opacity: 0.55;
}
.topbar {
	/*background-color:  ;*/
	opacity: 0.75;
	height: 55px;
	padding-top: 10px;
	padding-right: 20px;
	text-align: right;
}

#welcome {
	font-size: 25px;
	float: left;
	color: white;
	margin-top: 4px;
	margin-right: 15px;
	font-family: 'Roboto', sans-serif;
	font-weight: lighter;
	letter-spacing: 1px;	
}

.content {
	display: inline-block;
}

h2 {
	margin-top: -10px;
	font-size: 25px;
}

.container {
	text-align: center;
	width: 560px;
	height: 639px;
	margin-left: -270px;
	left: 50%;
	position: fixed;
}

.citySearch {
	margin: 0 auto;
	text-align: center;

}

#search {
	width: 410px;
}

.scrollable-menu {
    width: 300px;
    max-height: 200px;
    overflow-x: hidden;

}

#delete {
	float: right;
}

.btn-group {
	width: 300px;
	margin-top: 40px;

}

.pull-right {
	float: right;
}

#logout {
	text-decoration: none;
	color: black;
}

img {
	position: fixed;
	bottom: 200px;
	left: 0px;
	width: 360px;
	height: auto;
	margin-left: 30px;

}

footer {
	margin-left: 30px;

}

.deletes {
	float: right;
	margin-top: -24px;
	margin-right: 15px;
}

.btn-circle {
  width: 17px;
  height: 17px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.glyphicon-minus {
	float: right;
	margin-top: -6px;
	margin-right: 2px;

}


</style>